<!DOCTYPE html>

<html>
    <head>
        <meta chartset-"utf-8">
     <title> Some Website </title>
    
    </head>
    
    <body>
        {{> header}}
            <p> {{screamIt pageTitle}}</p>
        {{> footer}}
    </body>
     
    
   
</html>
